:root {
    --bg-theme: lightgreen;
    --bg-theme-l: rgb(192, 248, 192);
}

* {
    border: 1px dotted black;
}

body {
    display: grid;
    grid-template-columns: 220px 2.5fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    
}
header {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto 1fr;
}
div#top {
    background-color: var(--bg-theme-l);
    grid-area: 1 / 1 / 2 / -1;
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    input {
        border-radius: 10px;
    }
    div#top-left {
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
    }
    div#top-right {
        grid-area: 1 / 2 / 2 / 3;
        display: grid;
        grid-auto-columns: auto;
        grid-auto-flow: column;
    }
}
div#bottom {
    grid-area: 2 / 1 / 3 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;

    #bottom-left {
        display: grid;
        grid-template-columns: 0.50fr repeat(2, 1fr);
    }
    #bottom-right {
        grid-column: -2 / -1;
        align-self: end;
        justify-self: center;
    }
}

.sidebar {
    background-color: var(--bg-theme);
    grid-area: 1 / 1 / -1 / 2;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    grid-area: 2 / 2 / -1 / -1;
    grid-template: subgrid;
}


